@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    height: 100vh;
    width: 100vw;

    background-color: #7B886F;
}

header{
    background-color: #DE6B48;
    color: #071013;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1{
    /*border: 1px dotted black;*/
    flex: 0 0 200px;
    text-shadow: 1px 2px 0px rgba(173, 216, 230, 0.568);
}

header > nav{
    /*border: 1px dotted black;*/
     
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a{
    background-color: #F2E3D5;
    color: #071013;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

header > nav > a:hover{
    background-color : #d8b08b;
    transition: 0.5s;
}

main{
    background-color: #B4DC7F;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
}

